## Tupules in Python
- Creating Tupules
- Accessing Tupules
- Methods
- Packing and Unpacking
- etc

In [1]:
## Tupules
## Ordered
## Immutable collections of data

tpl = (1, "Shahzaib", 5.4, True)
print(type(tpl))

<class 'tuple'>

In [3]:
tpl = 1,2,3,4,5,6
print(type(tpl))

<class 'tuple'>

In [1]:
lst = [1,2,3,4,4, 'Shahzaib', 'Ayesha', 'Alishba', True, False, 6.2, 6.7]

tpl = tuple(lst) ## Type Casting
print(type(tpl))

<class 'tuple'>

In [2]:
## Accessing Tupules
# Indexing
print(tpl[2])
print(tpl[9])


## Slicing Operations

print(tpl[0:])
print(tpl[:5])
print(tpl[2:7])
print(tpl[4::2])

3
False
(1, 2, 3, 4, 4, 'Shahzaib', 'Ayesha', 'Alishba', True, False, 6.2, 6.7)
(1, 2, 3, 4, 4)
(3, 4, 4, 'Shahzaib', 'Ayesha')
(4, 'Ayesha', True, 6.2)

In [ ]:
## Operations and Methods

tpl.count('Shahzaib')
tpl.index('Shahzaib')
print(tpl.index('Shahzaib'))

In [ ]:
tpl * 3

In [7]:
numbers = (1,2,3,4,5,6,7,7)

mixed_tpl = tpl + numbers

print(mixed_tpl)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 7)

In [8]:
## Packing and Unpacking

tpl = 2,3,4,5,"Shahzaib", '21', "Microbiology"

In [ ]:
##Unpacking tupules with *

first, *middle, last = tpl

print(first)
print(middle)
print(last)

2
[3, 4, 5, 'Shahzaib', '21']
Microbiology

In [10]:
tpl = "Shahzaib", "Ayesha", "Alishba"

a,b,c = tpl
print(a)
print(b)
print(c)

Shahzaib
Ayesha
Alishba

In [11]:
## Iterating Over Tupulees

tpl = 2,3,4,5,"Shahzaib", '21', "Microbiology"

for i in tpl:
        print(f"Hi,{i} ")

Hi,2
Hi,3
Hi,4
Hi,5
Hi,Shahzaib
Hi,21
Hi,Microbiology

In [22]:
## Nested Tupules

nested_list = [[1,2,3,4],['Shahzaib','Ayesha', [True, False]]]

nested_tupule = ((1,2,3,4), ('Shahzaib','Ayesha'), (True, False))

In [23]:
for i in nested_tupule:
    for j in i:
        print(f"{j*2}")

2
4
6
8
ShahzaibShahzaib
AyeshaAyesha
2
0

In [24]:
## Nested Tupules

nested_list = [[1,2,3,4],['Shahzaib','Ayesha', [True, False]]]

nested_tupule = ((1,2,3,4), ('Shahzaib','Ayesha'), (True, False))

In [26]:
## Modifying the List element

nested_list[0][2] = "UAF"
print(nested_list)

[[1, 2, 'UAF', 4], ['Shahzaib', 'Ayesha', [True, False]]]

In [4]:
## Modyfying the Nested Tubule

nested_tupule[1][1]="second name"
print(nested_tupule)

NameError: name 'nested_tupule' is not defined

## Sets in Python
# Sets are unordered collections of unique elements.

- Creating Sets
- Accessing Elements
- Methods and Operations

In [30]:
## Ordered
## Unique Elements

new_set = {1,2,3,4,5,6,7,8,7,9}
print(new_set)
print(type(new_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [32]:
lst = [1,2,3,4,5,6,7,7,7,7,8,4,8,9,9]
new_set = set(lst)
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
dir(new_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
## Methods and Operations

set_1 = {1,2,3,4}
set_1.add(5)
print(set_1)

{1, 2, 3, 4, 5}

In [8]:
set_1.discard(5)
print(set_1)

{1, 2, 3, 4}

In [9]:
set_2 = {3,4,5,1}

print(set_1.difference(set_2))

print(set_1.intersection(set_2))

print(set_1.union(set_2))

{2}
{1, 3, 4}
{1, 2, 3, 4, 5}

In [12]:
## symetric difference

print(set_1.symmetric_difference(set_2))

{2, 5}

In [40]:
text = "Shahzaib is a veterinarian."

In [41]:
text_set = set(text)
print(text_set)

{'i', 's', 'r', ' ', 'h', 'a', 'z', 'v', 'n', 'e', 'S', 'b', '.', 't'}

In [47]:
text = "Shahzaib is a veterinarian, he is also a data scientist."

In [50]:
## splitting the text

words = text.split()
print(words)

## Type casting in set

unique_words = set(words)
print(unique_words)
print(len(unique_words))

['Shahzaib', 'is', 'a', 'veterinarian,', 'he', 'is', 'also', 'a', 'data', 'scientist.']
{'he', 'Shahzaib', 'a', 'data', 'veterinarian,', 'scientist.', 'is', 'also'}
8