## Functions in Python

- Define 
- Call
- Return
- Arguments
- Keyword Arguments
- Default Parameters
- Lambda Functions
- Map Functions
- Filter Functions

In [12]:
num = 21

if num%2==0:
    print(num, "is even")
else:
    print(num, "is odd")

21 is odd

In [13]:
## def name_of_function(parameter/arguement)
##        """"""Doc String"""
##          body of the function
##          return Expression

In [14]:
## Defining a function

def even_or_odd(number):
    ## Description
    if number % 2 != 0:
        print(f"The {number} is an odd number.")
    else:
        print(f"The {number} is an even number.")

In [15]:
## Calling a Function

num = 23   ##Parameters
even_or_odd(num)

The 23 is an odd number.

In [16]:


def add(a,b):
    return a + b

def div(a,b):
    if b == 0:
        return "Error: Division by zero is not allowed"
    else:
        result = a / b
    
    return result

In [17]:
print(add(1,3))
print(div(2,0))

4
Error: Division by zero is not allowed

In [22]:


def greet(name="Guest"):
    return f"Hey {name}, Welcome to UAF"

greet("Shahzaib")

'Hey Shahzaib, Welcome to UAF'

In [ ]:
## Variable LENGTH arguement
## Positional and key word arguements

def print_function(*args):
    for arg in args:
        print(arg)

print_function(1,2,3,4,5,6,7,8,9,10,"Shahzaib", "Ayesha") ## Positional Arguements

1
2
3
4
5
6
7
8
9
10
Shahzaib
Ayesha

In [25]:
def print_dict(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_dict(name = "Shahzaib", age = "21", city = "Sargodha")

name: Shahzaib
age: 21
city: Sargodha

In [30]:
def print_gen(*args, **kwargs):
    for arg in args:
        print(arg, end=' ')

    for key, value in kwargs.items():
        print(f'{key} = {value}',end=' ')

print_gen(1,2,3,4,5,'Shahzaib', age=25,city='Sargodha', inst = 'UAF', degree= 'DVM')

1 2 3 4 5 Shahzaib age = 25 city = Sargodha inst = UAF degree = DVM

In [31]:
## Functions with return keyword only

def add(a,b):
    return a + b

add(6,9)

15

In [32]:
def square(a):
    return a * a

square(9)

81

In [34]:
def square(a):
    result = a ** 2
    return result

square(77)

5929

## Lambda Function
- Anonymous Function
- Single line code,

In [35]:
## Lambda Arguement: expression

sqr = lambda x: x**2

print(type(sqr))

<class 'function'>

In [36]:
sqr(39)

1521

In [37]:
## Lamda with multiple arguements

addition = lambda x,y: x+y
print(addition(5,7))  # Output: 12

12

## Map Function

In [45]:
num_1= [1,2,3,45,5,6,8,66]



even = lambda x:  x % 2 == 0

map(even, num_1)

In [44]:
list(map(even, num_1))

[False, True, False, False, False, True, True, True]

In [48]:
def cube(num):
    if num>=5:
        return num ** 3

In [49]:
num_2 =[4,5,6,7,8,4,44,66,33]

cube_result = list(map(cube, num_2))

print(cube_result)

[None, 125, 216, 343, 512, None, 85184, 287496, 35937]

## Filter Function

In [53]:
def even(num):
    if num % 2 == 0:
        return True

num_2 =[4,5,6,7,8,4,44,66,33]
filtered_numbers = list(filter(even, num_2))

print(filtered_numbers)

[4, 6, 8, 4, 44, 66]