- Variable Assignment
- Naming Convention
- Dynamic Typing
- Type Conversion

In [1]:
a=23 ## integers
name="Shahzaib" ## strings 
height= 5.4 ## floats
is_adult=True ## booleans

In [3]:
print(type(a))
print(type(name))
print(type(height))
print(type(is_adult))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [5]:
## Python is a dynamically typed language.
var = 24
print(type(var))
var = "Shahzaib"
print(type(var))
var = True
print(type(var))

<class 'int'>
<class 'str'>
<class 'bool'>

In [8]:
## Type Conversion

age = "21"
age_1 = int(age)
print(type(age))
print(type(age_1))

<class 'str'>
<class 'int'>

In [ ]:
## Naming Convention

## small case letters, numbers, under scores
## no special characters, no dashes, no numbers in start, no spaces

In [ ]:
## simple calculator

num_1 = int(input("Enter a number!"))
num_2 = int(input("Enter the second number!"))


sum = num_1 + num_2
diff = num_1 - num_2
multi = num_1 * num_2
div = num_1 / num_2


print(sum)
print(diff)
print(multi)
print(div)

44
2
483
1.0952380952380953

In [14]:
print(type(num_1))
print(type(num_2))

<class 'int'>
<class 'int'>

Basic Data Types
- Strting
- Boolean
- Integar
- Floats

In [17]:
name = "Shahzaib"

In [18]:
print(name.upper())

SHAHZAIB

In [19]:
## Boolean
X = True
Y = True

In [21]:
X.as_integer_ratio()

(1, 1)

In [22]:
## Integars

age = 21

In [23]:
## Floats

weight = 78.0

In [24]:
weight.as_integer_ratio()

(78, 1)